# Core PyTorch + CUDA 12.8 builds
torch --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
torchaudio --index-url https://download.pytorch.org/whl/cu128

# Torchtext (legacy version for your code)
torchtext==0.6.0 --no-cache-dir -i https://pypi.org/simple

# Utilities
matplotlib
tqdm
mlxtend
torchmetrics
numpy
scikit-learn

# NLP
spacy
transformers
tokenizers


# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128

# pip install torchtext --no-cache-dir -i https://pypi.org/simple

# pip install matplotlib
# pip install tqdm
# pip install mlxtend torchmetrics

# pip install spacy
# python -m spacy download en_core_web_lg
# pip install transformers tokenizers